{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style type="text/css">
	.card{
		max-width: 700px;
	}
	.card-body{
		padding: 20px;
	}
</style>

<div class="card m-auto">
    <div class="card-body mt-2 mb-2">
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'blog:detail' slug %}" class="btn btn-light">Back to Post</a>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12">
            <h5>Are You Sure?</h5>
            <p>You are about to delete this comment, this cannot be undone.</p>
        <form method="POST">
            {% csrf_token %}
            <div class="d-grid gap-2">
                <input type="hidden" name="next" value="{{ request.GET.next }}">
                <button type="submit" class="btn btn-danger">Delete</button>
            </div>
        </form>
    </div>
    </div>
</div>
</div>
</div>
{% endblock content %}